.playlist-list-item-lg {
  list-style-type: none;
  width: 95vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  margin: 8px 0px 8px 0px;
  padding: 0px 2px 0px 2px;
  cursor: pointer;
  margin-left: 0px;
  padding-left: 0px;
}

.active-class {
  background-color: #303030;
  box-shadow: rgba(0, 0, 0, 0.3) 5px 10px 40px;
}

.columns-row-1 {
  width: 95vw;
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
}

.span-name-lg {
  color: #ffffff;
  font-size: 16px;
  margin-left: -150px;
  padding-left: 0px;
  width: 120px;
}

.span-album-name-lg {
  color: #ffffff;
  font-size: 16px;
  margin-left: -100px;
  padding-left: 0px;
  width: 130px;
}

.span-duration-lg {
  color: #ffffff;
  font-size: 16px;
  margin-left: -100px;
  padding-left: 0px;
  min-width: 60px;
  width: 100px;
}

.span-artist-lg {
  color: #ffffff;
  font-size: 16px;
  min-width: 60px;
  margin-left: -100px;
  padding-left: 0px;
  width: 100px;
}

.span-date-lg {
  color: #ffffff;
  font-size: 16px;
  margin-left: -60px;
  min-width: 60px;
  padding-left: 0px;
  width: 100px;
}

.album-thumbnail {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .playlist-list-item-lg {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100vw;
    margin-top: 60px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .columns-row-1 {
    width: 95%;
    height: 45px;
    margin: 10px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    
    color: #ffffff;
    align-items: center;
    align-self: center;
  }

  .span-name-lg {
    color: #ffffff;
    font-size: 16px;
    min-width: 60px;
    margin-left: 0px;
    /* width: 120px; */
    padding-left: 5px;
  }

  .span-album-name-lg {
    display: none;
  }

  .span-duration-lg {
    color: #ffffff;
    font-size: 16px;
    min-width: 60px;
    /* width: 80px; */
    margin-left: 30px;
  }

  .span-artist-lg {
    color: #ffffff;
    font-size: 16px;
    min-width: 60px;
    /* width: 130px; */
    margin-left: 30px;
  }

  .span-date-lg {
    display: none;
  }

  .album-thumbnail {
    display: none;
  }

  /* .span-bar-1 {
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    margin-left: -500px;
  }
  .span-bar-2 {
    display: none;
  }

  .span-bar-3 {
    color: #ffffff;
    font-size: 16px;
    text-align: left;
    margin-left: -400px;
  }

  .span-bar-4 {
    display: none;
  }
  .span-bar-5 {
    display: none;
  } */
}
